{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block body %}


    <div class="apn-hbh apn-hb"><span id="hbh-s" class="teal-apn"></span></div>
    <section class="_1PTlP" data-reactid="105">
        <div class="_1AsHn _2R_g5" data-reactid="106">
            <div class="_28iRT" data-reactid="107">
                <div class="_3wIjM" data-reactid="108">
                    <h1 class="_2LkEH" data-reactid="109">
                        Trouvez le bon job  parmi
                        <span>100 000 jobs</span>
                        sur lebonjob.
                    </h1>
                    <div class="_3RviA" data-reactid="117">
                        <div class="cCql2" data-qa-id="button_new_ad" data-reactid="118">
                            <span class="_28rnK" data-reactid="119">
                               <a class="_2sNbI _1xIyN GXQkc _2xk2l trackable" href="#URL-DEPOT-ANNONCE" data-reactid="120">
                                  <span class="_1vK7W _1eOK1 QKFCn" name="newadoutline">
                                     <svg viewBox="0 0 24 24" data-name="Calque 1">
                                        <path d="M17.33 10.67h-4v-4a1.33 1.33 0 1 0-2.66 0v4h-4a1.33 1.33 0 1 0 0 2.66h4v4a1.33 1.33 0 1 0 2.66 0v-4h4a1.33 1.33 0 1 0 0-2.66z"></path>
                                        <path d="M21.6 0H2.4A2.41 2.41 0 0 0 0 2.4v19.2A2.41 2.41 0 0 0 2.4 24h19.2a2.41 2.41 0 0 0 2.4-2.4V2.4A2.41 2.41 0 0 0 21.6 0zm0 20.4a1.2 1.2 0 0 1-1.2 1.2H3.6a1.2 1.2 0 0 1-1.2-1.2V3.6a1.2 1.2 0 0 1 1.2-1.2h16.8a1.2 1.2 0 0 1 1.2 1.2v16.8z"></path>
                                     </svg>
                                  </span>
                                   Déposer une annonce
                               </a>
                            </span>
                        </div>
                        <div data-tip="" data-place="bottom" data-qa-id="button_geoloc" data-reactid="123" currentitem="false">
                            <div class="_22JTV" data-reactid="124">
                                <button class="_2sNbI _1xIyN GXQkc _2BP2c geoloc" data-reactid="125">
                                      <span class="_1vK7W _1eOK1 QKFCn" name="geoloc">
                                         <svg viewBox="0 0 24 24" data-name="Calque 1">
                                            <path d="M12 7.64A4.36 4.36 0 1 0 16.36 12 4.36 4.36 0 0 0 12 7.64zm9.75 3.27a9.8 9.8 0 0 0-8.66-8.66V1.09a1.09 1.09 0 1 0-2.18 0v1.16a9.8 9.8 0 0 0-8.66 8.66H1.09a1.09 1.09 0 0 0 0 2.18h1.16a9.8 9.8 0 0 0 8.66 8.66v1.16a1.09 1.09 0 0 0 2.18 0v-1.16a9.8 9.8 0 0 0 8.66-8.66h1.16a1.09 1.09 0 0 0 0-2.18zM12 19.64A7.64 7.64 0 1 1 19.64 12 7.64 7.64 0 0 1 12 19.64z"></path>
                                         </svg>
                                      </span>
                                    Rechercher autour de moi
                                </button>
                            </div>
                            <div class="sc-fjdhpX bpzbGb" data-reactid="128">
                                <div class="__react_component_tooltip place-top type-dark " data-id="tooltip" data-reactid="129"></div>
                            </div>
                        </div>
                    </div>
                    <div class="apn-be" data-reactid="130" id="infoposition">

                    </div>
                </div>
                <div class="RcaAX" data-reactid="133">
                    <section class="_1ifAE" data-reactid="134">
                        <div class="_2jqYS" data-reactid="135">
                            <div class="" data-reactid="136">
                                <div class="form-group">
                                    <select id="map-selector" class="form-control" name="departements" multiple="multiple">
                                        {% for department in departments %}
                                        <option
                                                data-url="/#URL-A-MODIFIER pour DEP ID:{{ department.id }}/CODE:{{ department.code }}"
                                                value="FR-{{ department.code }}">
                                            {{ department.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="_11AC0 _11AC0-left" data-reactid="228">
                            <ul>
                                {% for department in departments %}
                                    <li {% if ((department.id > 33) and (department.id <=49)) or ((department.id > 80) ) %}class="more-dep" style="display:none;"{% endif %}><a
                                                title="{{ department.name }}"
                                                class="_3mctU trackable"
                                                data-map="{{ department.name }}"
                                                href="/#URL-A-MODIFIER pour DEP ID:{{ department.id }}/CODE:{{ department.code }}" >
                                            {{ department.name }}</a>
                                    </li>
                                    {% if department.code == '48' %}
                                        </ul></div><div class="_11AC0 _11AC0-right" data-reactid="228"><ul>
                                    {% endif %}
                                {% endfor %}
                                <li><a
                                            class="_3mctU trackable"
                                            onclick="jQuery('li.more-dep').show(); jQuery(this).hide();"
                                             >
                                        Plus ...</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <!-- react-empty: 282 -->
            <div class="apn-be" data-reactid="283"><span id="be-s" class="teal-apn"></span><span id="be-m" class="teal-apn"></span></div>
            <div class="_2Hpd9" data-reactid="286">
                <p class="_25gYq" data-reactid="287">Le bon job est un super site de recherche d'offre d'emploi, développé par des étudiants motivés sur Symfony4 !!.</p>
            </div>
            <div class="apn-comp" data-reactid="288"><span id="comp-s" class="teal-apn"></span><span id="comp-m" class="teal-apn"></span><span id="comp-l" class="teal-apn"></span><span id="comp-xl" class="teal-apn"></span></div>
        </div>
    </section>


{% endblock %}
