<footer class="_3mBNy" data-reactid="452">
    <div class="_1AsHn In37K" data-reactid="453">
        <div data-reactid="454">
            <div class="_3Qo_G" data-reactid="455">
                <div class="_11PoU" data-reactid="456">
                    <div class="_2OUWH" data-reactid="457">
                        <div class="_2hBLN" data-reactid="458">
                            <div data-reactid="459">
                                <div class="_1et7J" data-reactid="460">à propos du bonjob</div>
                                <ul data-reactid="461">
                                    <li class="jU6hB" data-reactid="462"><a href="https://corporate.leboncoin.fr/" target="_blank" rel="noopener" title="Qui sommes-nous ?" class="trackable" data-reactid="463">Qui sommes-nous ?</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="_2hBLN" data-reactid="477">
                            <div data-reactid="478">
                                <div class="_1et7J" data-reactid="479">informations légales</div>
                                <ul data-reactid="480">
                                    <li class="jU6hB" data-reactid="481"><a rel="nofollow" href="#" title="Conditions générales d&#39;utilisation" class="trackable" data-reactid="482">Conditions générales d'utilisation</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="_2hBLN" data-reactid="493">
                            <div data-reactid="494">
                                <div class="_1et7J" data-reactid="495">professionnels</div>
                                <ul data-reactid="496">
                                    <li class="jU6hB" data-reactid="501"><a href="#" title="Vos recrutements" class="trackable" data-reactid="502">Vos recrutements</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="_2hBLN" data-reactid="505">
                            <div data-reactid="506">
                                <div class="_1et7J" data-reactid="507">des questions ?</div>
                                <ul data-reactid="508">
                                    <li class="jU6hB" data-reactid="511"><a rel="nofollow" href="https://www.leboncoin.fr/support/form/" title="Nous contacter" class="trackable" data-reactid="512">Nous contacter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="eSGyC" data-reactid="520">
                        <div class="Dpc6O" data-reactid="521">
                            <!-- react-text: 522 -->Partenaires :<!-- /react-text -->
                            <div class="_2j8cI" data-reactid="523"><a href="http://www.iut-limousin.com/" target="_blank" rel="noopener" title="IUT du Limousin" class="trackable" data-reactid="524">IUT du Limousin</a></div>
                            <div class="_2j8cI" data-reactid="523"><a href="http://www.emakina.fr/" target="_blank" rel="noopener" title="Emakina" class="trackable" data-reactid="524">Emakina</a></div>
                        </div>
                    </div>
                </div>
                <div class="_29yTo" data-reactid="539">
                    <div data-reactid="540">
                        lebonjob 2018 - 2019
                    </div>
                    <div class="_1eQmv" data-reactid="543">
                        <div class="_11PoU" data-reactid="544">Retrouvez-nous sur</div>
                        <a class="_2j7FF trackable" href="#" target="_blank" rel="noopener nofollow" data-reactid="545">
                                                <span class="_1vK7W" name="facebook">
                                                   <svg viewBox="0 0 24 24" data-name="Calque 1">
                                                      <path d="M22.68 0H1.32A1.32 1.32 0 0 0 0 1.32v21.36A1.32 1.32 0 0 0 1.32 24h11.51v-9.28H9.7v-3.63h3.13V8.41c0-3.1 1.88-4.79 4.65-4.79H18.87c.47 0 .93.06 1.4.11V7h-1.92a3 3 0 0 0-.71.07c-.87.21-1.07.84-1.07 1.69v2.31h3.6l-.47 3.63h-3.15V24h6.13A1.32 1.32 0 0 0 24 22.68V1.32A1.32 1.32 0 0 0 22.68 0z"></path>
                                                   </svg>
                                                </span>
                        </a>
                        <a class="_2j7FF trackable" href="#" target="_blank" rel="noopener nofollow" data-reactid="547">
                                                <span class="_1vK7W" name="twitter">
                                                   <svg viewBox="0 0 24 24" data-name="Calque 1">
                                                      <path d="M22.67 0H1.33A1.32 1.32 0 0 0 0 1.33v21.34A1.32 1.32 0 0 0 1.33 24h21.34A1.32 1.32 0 0 0 24 22.67V1.33A1.32 1.32 0 0 0 22.67 0zM18.4 8.78c-.11 5.53-3.6 9.38-8.9 9.62A8.77 8.77 0 0 1 4.33 17 6.4 6.4 0 0 0 9 15.64a3.25 3.25 0 0 1-3-2.29 4.84 4.84 0 0 0 1.32 0 3.27 3.27 0 0 1-2.51-3.25 2.42 2.42 0 0 0 1.32.36 3.55 3.55 0 0 1-1-4.33 9.5 9.5 0 0 0 6.65 3.37c-.78-3.37 3.74-5.17 5.54-2.89a8.17 8.17 0 0 0 2.05-.72 3.32 3.32 0 0 1-1.32 1.8 6.46 6.46 0 0 0 1.68-.48c-.12.61-.73 1.09-1.33 1.57z"></path>
                                                   </svg>
                                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>